*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

@media only screen and (max-width: 500px) {
	html {
		font-size: 49%;
	}
}
body {
	background: #000000;
	background: -webkit-radial-gradient(center, #000000, #18421a);
	background: -moz-radial-gradient(center, #000000, #18421a);
	background: radial-gradient(ellipse at center, #000000, #18421a);
	color: white;
	background-size: contain;
	background-position: center center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	cursor: none;
	user-select: none;
}

label {
	font-size: 1rem;
}

input {
	width: 3rem;
	height: 2rem;
	margin: 1rem;
}
#form {
	display: block;
	padding: 0.3rem;
	background-color: green;
	border-radius: 0.3rem;
	width: auto;
}

button {
	font-size: 1.5rem;
}
#ball {
	position: absolute;
	background-color: red;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	z-index: -1;
	transform: translateZ(-1);
}
div#board {
	background-image: url("./vectora150200035.jpg");
	background-size: contain;
	border: solid rgba(4, 39, 4, 0.671) 60px;
	border-radius: 10%;
	width: 45rem;
	height: 45rem;
	background-repeat: no-repeat;
	cursor: none;
}

h1 {
	display: block;
	width: 20rem;
	font-family: "Shizuru";
	color: white;
	text-align: center;
	font-size: 1.8rem;
	margin: 3rem auto 0 auto;
	border: solid green 0.2rem;
	border-radius: 1rem;
	padding: 0.5rem;
	text-transform: uppercase;
}
h4 {
	text-transform: uppercase;
	display: block;
	width: 20rem;
	height: 6rem;
	font-family: "Shizuru";
	color: white;
	text-align: center;
	margin: 0 auto 3rem auto;
	border: solid green 0.2rem;
	border-radius: 1rem;
	padding: 0.5rem;
}

table {
	width: 100%;
	height: 100%;
}
#board td {
	cursor: url(./BombCursor.png), auto;
}

div#message {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 16%;
	min-height: 7rem;

	border: green dashed 2px;
	overflow: hidden;
	padding: 1rem;
	border-radius: 2rem;
}
div#message:hover {
	height: auto;
}

.hit {
	background: url(./boat.png) no-repeat;
	background-size: contain;
}
.miss {
	background: url(./miss.png) no-repeat;
	background-size: contain;
}
#currentCell {
	font-size: 1.8rem;
}

table.ranking tr td {
	border-bottom: solid white 2px;
	border-top: solid darkgreen 4px;
	margin: 0px;
	font-size: 2rem;
	/* cursor: no-drop; */
}
