*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: none;
}
html {
	font-size: 62.5%;
	font-family: "Shizuru";
}

body {
	background: #000000;
	background: -webkit-radial-gradient(center, #000000, #18421a);
	background: -moz-radial-gradient(center, #000000, #18421a);
	background: radial-gradient(ellipse at center, #000000, #18421a);
	color: white;
	background-size: contain;
	background-position: center center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	cursor: none;
	user-select: none;
	gap: 1rem;
}

label {
	font-size: 1rem;
}

input {
	width: 3rem;
	height: 2rem;
	margin: 1rem;
}
#form {
	display: block;
	padding: 0.3rem;
	background-color: green;
	border-radius: 0.3rem;
	width: auto;
}
.settings {
	transition: all 0.5s ease-in;
	border-radius: 2rem;
	color: black;
	font-weight: 700;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 122;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 90%);
	padding: 5rem;

	display: none;
}

.settings-button {
	position: relative;
	font-size: 2rem;
	display: inline-block;
	background-color: darkgreen;
	width: 100%;
	height: 3rem;
	/* color: white; */
	text-decoration: none;
	z-index: 150;
	border: none;
	border-radius: 0.8rem;
	margin: 0.4rem 0;
}
.settings-button:hover {
	background-color: greenyellow;
	color: red;
	text-decoration: none;
}
.settings-button:active {
	transform: translateY(0.2rem);
}

.settings label,
.settings input {
	font-size: 1.6rem;
	cursor: url(./BombCursor.png), auto;
}
.settings-active {
	transition: all 1s ease-in-out;
	display: flex;
	cursor: url(./BombCursor.png), auto;
	background-color: rgba(169, 169, 169, 0.85);
}

#player-name {
	display: inline-block;
	width: 80%;
	height: 3rem;
	background-color: lightgreen;
	padding: 2rem 2 rem;
	border-radius: 20%;
	text-align: center;
	z-index: 105;
	position: relative;
}

button {
	font-size: 1.5rem;
}
#ball {
	position: absolute;
	background-color: red;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	z-index: 100;
	transform: translateZ(-1);
}

div#board {
	background-image: url("./vectora150200035.jpg");
	background-size: contain;
	border: solid rgba(0, 250, 0, 0.113) 1rem;
	border-radius: 1rem;
	width: 60vh;
	height: 60vh;
	background-repeat: no-repeat;
	cursor: none;
	z-index: 101;
}

h1 {
	display: block;
	width: 20rem;
	color: white;
	text-align: center;
	font-size: 1.8rem;
	margin: 3rem auto 0 auto;
	border: solid green 0.2rem;
	border-radius: 1rem;
	padding: 0.5rem;
	text-transform: uppercase;
}
h4 {
	text-transform: uppercase;
	display: block;
	width: 20rem;
	height: 6rem;
	color: white;
	text-align: center;
	margin: 0 auto 3rem auto;
	border: solid green 0.2rem;
	border-radius: 1rem;
	padding: 0.5rem;
}

table {
	width: 100%;
	height: 100%;
}
#board td {
	cursor: url(./BombCursor.png), auto;
}
#board td:hover {
	background-color: rgba(255, 255, 255, 0.132);
	transition: all 0.3s ease;
}

div#message {
	position: absolute;
	font-size: 2rem;
	font-weight: 600;
	top: 1rem;
	left: 1rem;
	width: 15rem;
	text-align: center;
	padding: 1.5rem;
	border: green dashed 2px;
	border-radius: 1rem;
	z-index: 102;
}
div#score {
	position: absolute;
	font-size: 2rem;
	font-weight: 600;
	top: 1rem;
	right: 1rem;
	width: auto;
	text-align: center;
	border: green dashed 2px;
	border-radius: 1rem;
	z-index: 102;
}
div#score span {
	display: inline-block;
	padding: 0rem 2rem;
	font-size: 3rem;
	border-radius: 30%;
	background-color: rgba(0, 0, 0, 0.711);
}
div#message:hover,
div#score:hover {
	background-color: #46764850;
}

.hit {
	background: url(./boat.png) no-repeat;
	background-size: contain;
	transition: all 0.5s ease;
}
.miss {
	background: url(./miss.png) no-repeat;
	background-size: contain;
}
#currentCell {
	font-size: 1.8rem;
}

table.ranking tr td {
	border-bottom: solid white 2px;
	border-top: solid darkgreen 4px;
	margin: 0px;
	font-size: 2rem;
	/* cursor: no-drop; */
}

.rstBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid white 0.3rem;
	border-radius: 1rem;
	padding: 1rem 3rem;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2rem;
	transition: all 0.1s ease;
	z-index: 102;
	margin-top: -3 rem;
}
.rstBtn:link,
.rstBtn:visited {
	color: white;
}
.rstBtn:hover {
	border: solid darkgreen 0.3rem;
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 2rem rgb(0, 0, 0);
}
.rstBtn:active {
	border: solid darkgreen 0.3rem;
	transform: translateY(0.1rem);
	box-shadow: none;
}

@media only screen and (max-width: 37.25em) {
	html {
		font-size: 40%;
	}
	div#board {
		width: 98vw;
		height: 98vw;
		border: solid white 0.2rem;
	}
}
@media only screen and (min-width: 37.25em) {
	html {
		font-size: 49%;
	}
}
@media only screen and (min-width: 65.25em) {
	html {
		font-size: 62%;
	}
}

@media only screen and (min-width: 75em) {
	html {
		font-size: 75%;
	}
}
@media (hover: none) {
	#ball {
		width: 0rem;
		height: 0rem;
	}
}
